xml-resources/web-service-references/quanlynhansu_version3_Service_1/wsdl/localhost_8080/quanlynhansu_service_version3/quanlynhansu_version3_Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller/" name="quanlynhansu_version3_Service">
<types>
<xsd:schema>
<xsd:import namespace="http://controller/" schemaLocation="http://localhost:8080/quanlynhansu_service_version3/quanlynhansu_version3_Service?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="deleteChuyenmon">
<part name="parameters" element="tns:deleteChuyenmon"/>
</message>
<message name="deleteChuyenmonResponse">
<part name="parameters" element="tns:deleteChuyenmonResponse"/>
</message>
<message name="addChucvu">
<part name="parameters" element="tns:addChucvu"/>
</message>
<message name="addChucvuResponse">
<part name="parameters" element="tns:addChucvuResponse"/>
</message>
<message name="addChuyenmon">
<part name="parameters" element="tns:addChuyenmon"/>
</message>
<message name="addChuyenmonResponse">
<part name="parameters" element="tns:addChuyenmonResponse"/>
</message>
<message name="updateLuong">
<part name="parameters" element="tns:updateLuong"/>
</message>
<message name="updateLuongResponse">
<part name="parameters" element="tns:updateLuongResponse"/>
</message>
<message name="addLuong">
<part name="parameters" element="tns:addLuong"/>
</message>
<message name="addLuongResponse">
<part name="parameters" element="tns:addLuongResponse"/>
</message>
<message name="findChucvu">
<part name="parameters" element="tns:findChucvu"/>
</message>
<message name="findChucvuResponse">
<part name="parameters" element="tns:findChucvuResponse"/>
</message>
<message name="updateNhanvien">
<part name="parameters" element="tns:updateNhanvien"/>
</message>
<message name="updateNhanvienResponse">
<part name="parameters" element="tns:updateNhanvienResponse"/>
</message>
<message name="findPhongban">
<part name="parameters" element="tns:findPhongban"/>
</message>
<message name="findPhongbanResponse">
<part name="parameters" element="tns:findPhongbanResponse"/>
</message>
<message name="updatePhongban">
<part name="parameters" element="tns:updatePhongban"/>
</message>
<message name="updatePhongbanResponse">
<part name="parameters" element="tns:updatePhongbanResponse"/>
</message>
<message name="findAllLuong">
<part name="parameters" element="tns:findAllLuong"/>
</message>
<message name="findAllLuongResponse">
<part name="parameters" element="tns:findAllLuongResponse"/>
</message>
<message name="updateChucvu">
<part name="parameters" element="tns:updateChucvu"/>
</message>
<message name="updateChucvuResponse">
<part name="parameters" element="tns:updateChucvuResponse"/>
</message>
<message name="addPhongban">
<part name="parameters" element="tns:addPhongban"/>
</message>
<message name="addPhongbanResponse">
<part name="parameters" element="tns:addPhongbanResponse"/>
</message>
<message name="addTrinhdohocvan">
<part name="parameters" element="tns:addTrinhdohocvan"/>
</message>
<message name="addTrinhdohocvanResponse">
<part name="parameters" element="tns:addTrinhdohocvanResponse"/>
</message>
<message name="findAllPhongban">
<part name="parameters" element="tns:findAllPhongban"/>
</message>
<message name="findAllPhongbanResponse">
<part name="parameters" element="tns:findAllPhongbanResponse"/>
</message>
<message name="findAllChuyenmon">
<part name="parameters" element="tns:findAllChuyenmon"/>
</message>
<message name="findAllChuyenmonResponse">
<part name="parameters" element="tns:findAllChuyenmonResponse"/>
</message>
<message name="deleteLuong">
<part name="parameters" element="tns:deleteLuong"/>
</message>
<message name="deleteLuongResponse">
<part name="parameters" element="tns:deleteLuongResponse"/>
</message>
<message name="findAllChucvu">
<part name="parameters" element="tns:findAllChucvu"/>
</message>
<message name="findAllChucvuResponse">
<part name="parameters" element="tns:findAllChucvuResponse"/>
</message>
<message name="deleteChucvu">
<part name="parameters" element="tns:deleteChucvu"/>
</message>
<message name="deleteChucvuResponse">
<part name="parameters" element="tns:deleteChucvuResponse"/>
</message>
<message name="findLuong">
<part name="parameters" element="tns:findLuong"/>
</message>
<message name="findLuongResponse">
<part name="parameters" element="tns:findLuongResponse"/>
</message>
<message name="findAllNhanvien">
<part name="parameters" element="tns:findAllNhanvien"/>
</message>
<message name="findAllNhanvienResponse">
<part name="parameters" element="tns:findAllNhanvienResponse"/>
</message>
<message name="deletePhongban">
<part name="parameters" element="tns:deletePhongban"/>
</message>
<message name="deletePhongbanResponse">
<part name="parameters" element="tns:deletePhongbanResponse"/>
</message>
<message name="findChuyenmon">
<part name="parameters" element="tns:findChuyenmon"/>
</message>
<message name="findChuyenmonResponse">
<part name="parameters" element="tns:findChuyenmonResponse"/>
</message>
<message name="updateChuyenmon">
<part name="parameters" element="tns:updateChuyenmon"/>
</message>
<message name="updateChuyenmonResponse">
<part name="parameters" element="tns:updateChuyenmonResponse"/>
</message>
<message name="addNhanvien">
<part name="parameters" element="tns:addNhanvien"/>
</message>
<message name="addNhanvienResponse">
<part name="parameters" element="tns:addNhanvienResponse"/>
</message>
<message name="loginfindAll">
<part name="parameters" element="tns:loginfindAll"/>
</message>
<message name="loginfindAllResponse">
<part name="parameters" element="tns:loginfindAllResponse"/>
</message>
<message name="deleteNhanvien">
<part name="parameters" element="tns:deleteNhanvien"/>
</message>
<message name="deleteNhanvienResponse">
<part name="parameters" element="tns:deleteNhanvienResponse"/>
</message>
<message name="findNhanvien">
<part name="parameters" element="tns:findNhanvien"/>
</message>
<message name="findNhanvienResponse">
<part name="parameters" element="tns:findNhanvienResponse"/>
</message>
<message name="updateTrinhdohocvan">
<part name="parameters" element="tns:updateTrinhdohocvan"/>
</message>
<message name="updateTrinhdohocvanResponse">
<part name="parameters" element="tns:updateTrinhdohocvanResponse"/>
</message>
<message name="findTrinhdohocvan">
<part name="parameters" element="tns:findTrinhdohocvan"/>
</message>
<message name="findTrinhdohocvanResponse">
<part name="parameters" element="tns:findTrinhdohocvanResponse"/>
</message>
<message name="findAllTrinhdohocvan">
<part name="parameters" element="tns:findAllTrinhdohocvan"/>
</message>
<message name="findAllTrinhdohocvanResponse">
<part name="parameters" element="tns:findAllTrinhdohocvanResponse"/>
</message>
<message name="deleteTrinhdohocvan">
<part name="parameters" element="tns:deleteTrinhdohocvan"/>
</message>
<message name="deleteTrinhdohocvanResponse">
<part name="parameters" element="tns:deleteTrinhdohocvanResponse"/>
</message>
<portType name="quanlynhansu_version3_Service">
<operation name="login">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/loginRequest" message="tns:login"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="deleteChuyenmon">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/deleteChuyenmonRequest" message="tns:deleteChuyenmon"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/deleteChuyenmonResponse" message="tns:deleteChuyenmonResponse"/>
</operation>
<operation name="addChucvu">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/addChucvuRequest" message="tns:addChucvu"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/addChucvuResponse" message="tns:addChucvuResponse"/>
</operation>
<operation name="addChuyenmon">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/addChuyenmonRequest" message="tns:addChuyenmon"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/addChuyenmonResponse" message="tns:addChuyenmonResponse"/>
</operation>
<operation name="updateLuong">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/updateLuongRequest" message="tns:updateLuong"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/updateLuongResponse" message="tns:updateLuongResponse"/>
</operation>
<operation name="addLuong">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/addLuongRequest" message="tns:addLuong"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/addLuongResponse" message="tns:addLuongResponse"/>
</operation>
<operation name="findChucvu">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findChucvuRequest" message="tns:findChucvu"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findChucvuResponse" message="tns:findChucvuResponse"/>
</operation>
<operation name="updateNhanvien">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/updateNhanvienRequest" message="tns:updateNhanvien"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/updateNhanvienResponse" message="tns:updateNhanvienResponse"/>
</operation>
<operation name="findPhongban">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findPhongbanRequest" message="tns:findPhongban"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findPhongbanResponse" message="tns:findPhongbanResponse"/>
</operation>
<operation name="updatePhongban">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/updatePhongbanRequest" message="tns:updatePhongban"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/updatePhongbanResponse" message="tns:updatePhongbanResponse"/>
</operation>
<operation name="findAllLuong">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findAllLuongRequest" message="tns:findAllLuong"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findAllLuongResponse" message="tns:findAllLuongResponse"/>
</operation>
<operation name="updateChucvu">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/updateChucvuRequest" message="tns:updateChucvu"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/updateChucvuResponse" message="tns:updateChucvuResponse"/>
</operation>
<operation name="addPhongban">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/addPhongbanRequest" message="tns:addPhongban"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/addPhongbanResponse" message="tns:addPhongbanResponse"/>
</operation>
<operation name="addTrinhdohocvan">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/addTrinhdohocvanRequest" message="tns:addTrinhdohocvan"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/addTrinhdohocvanResponse" message="tns:addTrinhdohocvanResponse"/>
</operation>
<operation name="findAllPhongban">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findAllPhongbanRequest" message="tns:findAllPhongban"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findAllPhongbanResponse" message="tns:findAllPhongbanResponse"/>
</operation>
<operation name="findAllChuyenmon">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findAllChuyenmonRequest" message="tns:findAllChuyenmon"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findAllChuyenmonResponse" message="tns:findAllChuyenmonResponse"/>
</operation>
<operation name="deleteLuong">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/deleteLuongRequest" message="tns:deleteLuong"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/deleteLuongResponse" message="tns:deleteLuongResponse"/>
</operation>
<operation name="findAllChucvu">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findAllChucvuRequest" message="tns:findAllChucvu"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findAllChucvuResponse" message="tns:findAllChucvuResponse"/>
</operation>
<operation name="deleteChucvu">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/deleteChucvuRequest" message="tns:deleteChucvu"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/deleteChucvuResponse" message="tns:deleteChucvuResponse"/>
</operation>
<operation name="findLuong">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findLuongRequest" message="tns:findLuong"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findLuongResponse" message="tns:findLuongResponse"/>
</operation>
<operation name="findAllNhanvien">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findAllNhanvienRequest" message="tns:findAllNhanvien"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findAllNhanvienResponse" message="tns:findAllNhanvienResponse"/>
</operation>
<operation name="deletePhongban">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/deletePhongbanRequest" message="tns:deletePhongban"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/deletePhongbanResponse" message="tns:deletePhongbanResponse"/>
</operation>
<operation name="findChuyenmon">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findChuyenmonRequest" message="tns:findChuyenmon"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findChuyenmonResponse" message="tns:findChuyenmonResponse"/>
</operation>
<operation name="updateChuyenmon">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/updateChuyenmonRequest" message="tns:updateChuyenmon"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/updateChuyenmonResponse" message="tns:updateChuyenmonResponse"/>
</operation>
<operation name="addNhanvien">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/addNhanvienRequest" message="tns:addNhanvien"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/addNhanvienResponse" message="tns:addNhanvienResponse"/>
</operation>
<operation name="loginfindAll">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/loginfindAllRequest" message="tns:loginfindAll"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/loginfindAllResponse" message="tns:loginfindAllResponse"/>
</operation>
<operation name="deleteNhanvien">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/deleteNhanvienRequest" message="tns:deleteNhanvien"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/deleteNhanvienResponse" message="tns:deleteNhanvienResponse"/>
</operation>
<operation name="findNhanvien">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findNhanvienRequest" message="tns:findNhanvien"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findNhanvienResponse" message="tns:findNhanvienResponse"/>
</operation>
<operation name="updateTrinhdohocvan">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/updateTrinhdohocvanRequest" message="tns:updateTrinhdohocvan"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/updateTrinhdohocvanResponse" message="tns:updateTrinhdohocvanResponse"/>
</operation>
<operation name="findTrinhdohocvan">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findTrinhdohocvanRequest" message="tns:findTrinhdohocvan"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findTrinhdohocvanResponse" message="tns:findTrinhdohocvanResponse"/>
</operation>
<operation name="findAllTrinhdohocvan">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/findAllTrinhdohocvanRequest" message="tns:findAllTrinhdohocvan"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/findAllTrinhdohocvanResponse" message="tns:findAllTrinhdohocvanResponse"/>
</operation>
<operation name="deleteTrinhdohocvan">
<input wsam:Action="http://controller/quanlynhansu_version3_Service/deleteTrinhdohocvanRequest" message="tns:deleteTrinhdohocvan"/>
<output wsam:Action="http://controller/quanlynhansu_version3_Service/deleteTrinhdohocvanResponse" message="tns:deleteTrinhdohocvanResponse"/>
</operation>
</portType>
<binding name="quanlynhansu_version3_ServicePortBinding" type="tns:quanlynhansu_version3_Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteChuyenmon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addChucvu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addChuyenmon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateLuong">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addLuong">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findChucvu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNhanvien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPhongban">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePhongban">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllLuong">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateChucvu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPhongban">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTrinhdohocvan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllPhongban">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllChuyenmon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteLuong">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllChucvu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteChucvu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findLuong">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllNhanvien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePhongban">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findChuyenmon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateChuyenmon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNhanvien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginfindAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteNhanvien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findNhanvien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTrinhdohocvan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTrinhdohocvan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllTrinhdohocvan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTrinhdohocvan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="quanlynhansu_version3_Service">
<port name="quanlynhansu_version3_ServicePort" binding="tns:quanlynhansu_version3_ServicePortBinding">
<soap:address location="http://localhost:8080/quanlynhansu_service_version3/quanlynhansu_version3_Service"/>
</port>
</service>
</definitions>